/* General Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", sans-serif;
}

body {
  margin: 0px;
}

::selection {
  background-color: lightskyblue;
}
/* Specific Syling */

.header {
  padding: 48px 18px;
  text-align: center;
  background-color: rgb(216, 216, 216);
}

.profession::after {
  content: " 🕵️‍♂️";
}

nav-link {
  padding: 4px 8px;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: rgb(146, 145, 145);
}

.nav-link:active {
  color: grey;
  background-color: white;
}

.nav-link + .nav-link {
  margin-left: 20px;
}

.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid grey;
}

.main > *:first-child {
  border-top: none;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}
