/* General Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", sans-serif;
}

body {
  margin: 0px;
}

::selection {
  background-color: lightskyblue;
}
/* Specific Syling */

.header {
  padding: 3rem 1rem;
  padding-top: 4rem;
  text-align: center;
  background-color: rgb(216, 216, 216);
  position: relative;
}

.heading-group {
  font-size: 3rem;
}

.main-heading {
  font-size: 1em;
}
.profession {
  font-size: 1rem;
}

.profession::after {
  content: " 🕵️‍♂️";
}

.hire-me {
  position: absolute;
  background-color: rgb(231, 182, 209);
  right: 1rem;
  top: 1rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: black;
}

nav-link {
  padding: 0.3rem 0.5rem;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: rgb(146, 145, 145);
}

.nav-link:active {
  color: grey;
  background-color: white;
}

.nav-link + .nav-link {
  margin-left: 1.2rem;
}

.main {
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

.main > * {
  border-top: 0.125rem solid grey;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}
.article-heading {
  position: relative;
  left: -1rem;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}
